body {
    background-color: #eeeeff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #1d3557;
}

div {
    clear: both;
}

h1 {
    font-size: 4rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
}

h2 {
    font-size: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0.6rem 0 0.2rem;
}


.answer {
  background-color: #a8dadc;
  box-shadow: 0 5px 0 #457b9d;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem 0 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;

  color: #1d3557;
}

.answer:hover {
  background-color: #e63946;
  cursor: pointer;
}

.answer:active {
  background-color: #e63946;
  box-shadow: none;
  top: 5px;
}

.option {
  padding-bottom: 2rem;
  font-size: 2.2rem;
}

iframe{
  width: 90%;
  padding-right: 5%;
}
img {
  padding: 0.3rem 0.8rem 0.5rem 0.8rem;
  margin: 0.6rem 0 0.2rem;
  width: 90%;
}
